/**, *:before, *:after {
  box-sizing: border-box;
}*/

body {
	font-family: arial, sans-serif;
	color: #000;
}

#nav-bar {
	float: right;
}

#nav-bar li {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

#nav-bar li:first-child {
	opacity: 0.75;
}

/*#app-img {
	height: 30px;
	width: 30px;
}*/

#user-img {
	border-radius: 100%;
}

a {
	color: #222;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #222;
}

a:hover, 
a li:hover {
	text-decoration: underline;
}

#logo {
	display: block;
	padding-top: 109px;
	margin: 0 auto;
	height: 92px;
	width: 272px;
}

#search-container {
	display: block;
	margin: 20px auto;
	padding: 0;
	width: 484px;
	height: 38px;
	font-size: 16px;
	border: 1px #ddd solid;	
}

#search {
	display: inline-block;
	margin: 5px 5px 25px 5px;
	width: 425px;
	height: 26px;
	font-size: 16px;
	border: none;
	vertical-align: middle;
}

#search-container:hover {
	border-color: #aaa #bbb #bbb #bbb;
}

#search-container:focus {
	border-color: blue;
}

#search:focus {
	outline: none;
}

#voice-icon {
	display: inline-block;
	cursor: pointer;
	margin-left: 15px;
	margin-bottom: 3px;
}

#btns-container {
	margin: 20px auto;
	width: 290px;
}

.form-btn {
	outline: none;
	border: #eee 1px solid;
	font-weight: bold;
	background: #eee;
	color: #666;
	padding: 10px 15px;
	margin: 20px 4px;
	border-radius: 2px;
}

.form-btn:hover {
	color: #222;
	border-color: #bbb;
	box-shadow: 0 1px 0 0 #eee;
}

.bar {
	list-style-type: none;
	font-size: 13px;
	padding: 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: #eee;
	padding: 0;
	border-top: solid 1px #ddd;
}

footer li {
	display: inline-block;
	padding: 0 20px;
	margin: 0;
	background-color: #eee;
	color: #666;
}

.fbar {
	position: fixed;
	display: inline-block;
	bottom: 0;	
	list-style-type: none;
	font-size: 13px;
	padding: 0;
}

#left-fbar {
	left: 0;
}	

#right-fbar {
	right: 0;
}

.clearfix {
	overflow: auto;
}